<template>
  <div>
    <header
      class="bg-gray-900 sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-3"
    >
      <div class="flex items-center justify-between px-4 py-3 sm:p-0">
        <!-- left -->
        <div>
          <img class="h-12" src="img/house-logo.png" alt="House logo" />
        </div>
        <!-- right -->
        <div class="sm:hidden">
          <button
            @click="isOpen = !isOpen"
            type="button"
            class="block text-gray-500 hover:text-white focus:text-white focus:outline-none"
          >
            <svg
              class="h-6 w-6 fill-current"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 384 384"
              style="enable-background:new 0 0 384 384;"
              xml:space="preserve"
            >
              <g>
                <g>
                  <g>
                    <rect x="0" y="277.333" width="384" height="42.667" />
                    <rect x="0" y="170.667" width="384" height="42.667" />
                    <rect x="0" y="64" width="384" height="42.667" />
                  </g>
                </g>
              </g>
            </svg>
          </button>
        </div>
      </div>
      <div
        :class="isOpen ? 'block' : 'hidden'"
        class="px-2 pt-2 pb-4 sm:flex sm:p-0"
      >
        <a
          href="#"
          class="block px-2 py-1 text-white font-semibold hover:bg-gray-800 rounded"
          >List your property</a
        >
        <a
          href="#"
          class="mt-1 sm:mt-0 sm:ml-2 block px-2 py-1 text-white font-semibold hover:bg-gray-800 rounded"
          >Trips</a
        >
        <a
          href="#"
          class="mt-1 sm:mt-0 sm:ml-2 block px-2 py-1 text-white font-semibold hover:bg-gray-800 rounded"
          >Messages</a
        >
      </div>
    </header>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isOpen: false,
    };
  },
};
</script>
